<%= javascript_include_tag 'application' %>
<h1>Image</h1>

<%= content_tag(:p, "There are no images to be displayed.") if @images.blank? %>
<%= content_tag(:p, "Tag: " + @filtered_tag) if @filtered_tag.present?%>
<table>
  <% @images.each do |image| %>
    <tr>
      <td>
        <%= image_tag image.url, id: image.id, created_at: image.created_at, width: "400", height: "300", tags: image.tag_list %>
      </td>
      <td>
        <% image.tag_list.each do |tag| %>
          <%= link_to tag, images_path(tag: tag) %>
        <% end %>
      </td>
      <td>
        <%= button_to "Delete Image", { action: "destroy", id: image },
                                method: :delete, data: {confirm: 'Are you sure?'}, 
params: { "filterd_tag": @filtered_tag} %>
      </td>
    </tr>     
  <% end %>
</table>
